<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376113063983-9ovq1qmfl0u6vdk425et88sl1jfht62l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376113063983-9ovq1qmfl0u6vdk425et88sl1jfht62l</string>
	<key>API_KEY</key>
	<string>AIzaSyAE3YlpCZeYbcqVJNUY8CRwdaRB79Fkdlw</string>
	<key>GCM_SENDER_ID</key>
	<string>376113063983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.briancarlisle.directdemocracy</string>
	<key>PROJECT_ID</key>
	<string>direct-democracy-e338a</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-democracy-e338a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376113063983:ios:4a73af1b3c113e814d7eda</string>
</dict>
</plist>